<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 

	1) ResultMap 사용법
	2) 동적인 쿼리
	
 -->
<mapper namespace="User07">
	<resultMap type="user" id="userSelectRM">
		<result property="userId" column="user_id"/>
		<result property="userName" column="user_name"/>
		<result property="password" column="password"/>
		<result property="age" column="age"/>
		<result property="grade" column="grade"/>
		<result property="regDate" column="reg_date"/>
	</resultMap>
	
	<!-- 
	
	정직인 쿼리
	: select문에서 where절 조건을 어떻게 주느냐에 따라서 계속적으로 select문이 만들어지는 쿼리
	
	
	동적인 쿼리
	: seelct문에서 where절 조건이 변하더라도 하나의 select문으로 다 커버될 수 있는 쿼리 
	즉, 하나의  seelct문으로 4,5개의 where절을 소화할 수 있다.
	
	 -->
	<select id="getUserList01" parameterType="user" resultMap="userSelectRM">
	SELECT
	user_id,
	user_name,
	password,
	age,
	grade,
	reg_date
	FROM users
	<where>
		<if test="userName != null">
			user_name LIKE #{userName}
		</if>
		<if test="age != null">
			OR age LIKE #{age}
		</if>
	</where>
	ORDER BY user_id DESC
	</select>
	
</mapper>